In [104]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

C:\Users\scheir3\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:19: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [105]:
# Install numpy using pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [106]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th"), "reading_score"] = np.NaN
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
student_data_df.loc[(student_data_df["school_name"]=="Thomas High School") & (student_data_df["grade"] == "9th"),"math_score"] = np.NaN
student_data_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

In [107]:
# Determine data types for the school DataFrame.
#school_data_df.dtypes

In [108]:
# Determine data types for the student DataFrame.
#student_data_df.dtypes

In [109]:
# Combine data in a single data set for analysis.
school_data_complete_df= pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0,14,Charter,1635,1043130

In [110]:
# Get the total number of students and schools.
student_total = school_data_complete_df["Student ID"].count()
school_count = len(school_data_complete_df["school_name"].unique())

# Caluculate the total budget.
total_budget = school_data_df["budget"].sum()

In [111]:
# Calculate the average reading and math scores.
reading_score_ave = school_data_complete_df["reading_score"].mean()
math_score_ave = school_data_complete_df["math_score"].mean()

In [112]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 
thomas_ninth_graders = school_data_complete_df.loc[(school_data_complete_df["school_name"] == "Thomas High School") 
                                                   & (school_data_complete_df["grade"] == "9th"),"Student ID"].count()
#thomas_ninth_graders
# Get the total student count 
#student_total = school_data_complete_df["Student ID"].count()


# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.
new_student_total = student_total - thomas_ninth_graders
#print (new_student_total)

In [113]:
#Calculate the passing scores
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >=70]
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >=70]
#passing_reading.head()

In [114]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["Student ID"].count()
#print(passing_math_count)
#print(passing_reading_count)

In [115]:
# Calculate the percent that passed math.
passing_math_percentage = (passing_math_count / new_student_total) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = (passing_reading_count / new_student_total) * 100

#print(passing_math_percentage)
#print(passing_reading_percentage)

In [116]:
# Calculate the number of students that passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

#passing_math_reading.head()

In [117]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
#overall_passing_math_reading_count

In [118]:
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / new_student_total * 100
#overall_passing_percentage

In [119]:
# Create new dataframe for the District report
district_summary_df = pd.DataFrame(
    [{"Total Schools": school_count,
      "Total Students": student_total,
      "Total Budget": total_budget,
      "Average Reading Score": reading_score_ave,
      "Average Math Score": math_score_ave,
      "% Passing Reading": passing_reading_percentage,
      "% Passing Math": passing_math_percentage,
      "% Overall Passing": overall_passing_percentage}])

# Format the columns.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
0,15,"39,170","$24,649,428.00",81.9,78.9,85.7,74.8,64.9

In [120]:
# Determine the school type.
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]

# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [122]:
# Create new dataframe for the District report
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total Budget": per_school_budget,
    "Per Student Spending": per_school_capita,
    "Average Reading Score": per_school_reading,
    "Average Math Score": per_school_math,
    "% Passing Reading": per_school_passing_reading,
    "% Passing Math": per_school_passing_math,
    "% Overall Passing": per_overall_passing_percentage})

# Format the columns.
per_school_summary_df["Total Budget"] = per_school_summary_df["Total Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Spending"]= per_school_summary_df["Per Student Spending"].map("${:,.2f}".format)
per_school_summary_df

,School Type,Total Students,Total Budget,Per Student Spending,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,81.033963,77.048432,81.933280,66.680064,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.975780,83.061895,97.039828,94.133477,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,81.158020,76.711767,80.739234,65.988471,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,80.746258,77.102592,79.299014,68.309602,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.816757,83.351499,97.138965,93.392371,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,80.934412,77.289752,80.862999,66.752967,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.814988,83.803279,96.252927,92.505855,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,81.182722,76.629414,81.316421,65.683922,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,80.966394,77.072464,81.222432,66.057551,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,84.044699,83.839917,95.945946,94.594595,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,80.744686,76.842711,80.220055,66.366592,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.725724,83.359455,95.854628,93.867121,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.896082,83.350937,69.663609,66.911315,65.076453
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.989488,83.274201,96.539641,93.867718,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.955000,83.682222,96.611111,93.333333,90.333333

In [124]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).
thomas_school_new =school_data_complete_df.loc[(school_data_complete_df["school_name"] == "Thomas High School") 
                                                   & (school_data_complete_df["grade"] != "9th"),"Student ID"].count()
#thomas_school_new

In [125]:
thomas_school_new_df = school_data_complete_df.loc[(school_data_complete_df["school_name"] == "Thomas High School") 
                                                   & (school_data_complete_df["grade"] != "9th")]
#thomas_school_new_df

In [126]:
#thomas_school_new_df.dtypes

In [127]:
# Step 6. Get all the students passing math from THS
THS_passing_math = thomas_school_new_df[(thomas_school_new_df["math_score"] >= 70)]
THS_passing_math_total = THS_passing_math.count() ["student_name"]

# Step 7. Get all the students passing reading from THS
THS_passing_reading = thomas_school_new_df[(thomas_school_new_df["reading_score"] >= 70)]
THS_passing_reading_total = THS_passing_reading.count() ["student_name"]

In [128]:
# Step 8. Get all the students passing math and reading from THS
# Calculate the students who passed both reading and math.
THS_passing_math_reading = thomas_school_new_df[(thomas_school_new_df["reading_score"] >= 70)
                                               & (thomas_school_new_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
THS_passing_math_reading_total = THS_passing_math_reading.count()["student_name"]

In [129]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 
percent_passing_math = THS_passing_math_total/thomas_school_new *100

In [130]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.
percent_passing_reading = THS_passing_reading_total/thomas_school_new *100

In [131]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School. 
THS_overall_passing = THS_passing_math_reading_total/thomas_school_new * 100

In [133]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.

per_school_summary_df.loc[(per_school_summary_df["Total Students"]== 1635),"% Passing Math"] = percent_passing_math

In [134]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc[(per_school_summary_df["Total Students"]== 1635),"% Passing Reading"] = percent_passing_reading

In [135]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc[(per_school_summary_df["Total Students"]== 1635),"% Overall Passing"] = THS_overall_passing

In [136]:
per_school_summary_df

,School Type,Total Students,Total Budget,Per Student Spending,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,81.033963,77.048432,81.933280,66.680064,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.975780,83.061895,97.039828,94.133477,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,81.158020,76.711767,80.739234,65.988471,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,80.746258,77.102592,79.299014,68.309602,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.816757,83.351499,97.138965,93.392371,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,80.934412,77.289752,80.862999,66.752967,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.814988,83.803279,96.252927,92.505855,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,81.182722,76.629414,81.316421,65.683922,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,80.966394,77.072464,81.222432,66.057551,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,84.044699,83.839917,95.945946,94.594595,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,80.744686,76.842711,80.220055,66.366592,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.725724,83.359455,95.854628,93.867121,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.896082,83.350937,97.018739,93.185690,90.630324
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.989488,83.274201,96.539641,93.867718,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.955000,83.682222,96.611111,93.333333,90.333333

In [137]:
# Sort and show top five schools.
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head()

,School Type,Total Students,Total Budget,Per Student Spending,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.975780,83.061895,97.039828,94.133477,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.896082,83.350937,97.018739,93.185690,90.630324
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.816757,83.351499,97.138965,93.392371,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.989488,83.274201,96.539641,93.867718,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,84.044699,83.839917,95.945946,94.594595,90.540541

In [138]:
# Sort and show top five schools.
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

bottom_schools.head()

,School Type,Total Students,Total Budget,Per Student Spending,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,80.744686,76.842711,80.220055,66.366592,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,81.158020,76.711767,80.739234,65.988471,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,81.182722,76.629414,81.316421,65.683922,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,80.934412,77.289752,80.862999,66.752967,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,80.966394,77.072464,81.222432,66.057551,53.539172

In [139]:
# create a dataframe for the average grades from each school for reading and math.
# Get the grade levels
freshmen = school_data_complete_df[(school_data_complete_df["grade"] =="9th")]
sophomores = school_data_complete_df[(school_data_complete_df["grade"] =="10th")]
juniors = school_data_complete_df[(school_data_complete_df["grade"] =="11th")]
seniors = school_data_complete_df[(school_data_complete_df["grade"] =="12th")]

In [140]:
freshmen.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94.0,94.0,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64.0,79.0,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71.0,79.0,0,District,2917,1910635

In [141]:
# Group each grade level DataFrame by the school name for the average math score.
freshmen_math_scores = freshmen.groupby(["school_name"]).mean()["math_score"]
sophomores_math_scores = sophomores.groupby(["school_name"]).mean()["math_score"]
juniors_math_scores = juniors.groupby(["school_name"]).mean()["math_score"]
seniors_math_scores = seniors.groupby(["school_name"]).mean()["math_score"]

In [142]:
#juniors_math_scores

In [143]:
# Group each grade level DataFrame by the school name for the average reading score.
freshmen_reading_scores = freshmen.groupby(["school_name"]).mean()["reading_score"]
sophomores_reading_scores = sophomores.groupby(["school_name"]).mean()["reading_score"]
juniors_reading_scores = juniors.groupby(["school_name"]).mean()["reading_score"]
seniors_reading_scores = seniors.groupby(["school_name"]).mean()["reading_score"]

In [144]:
#seniors_reading_scores

In [148]:
# Combine each grade level Series for average math scores by school into a single DataFrame.
math_scores_by_grade = pd.DataFrame({
               "9th": freshmen_math_scores,
               "10th": sophomores_math_scores,
               "11th": juniors_math_scores,
               "12th": seniors_math_scores})

#Format each grade column.
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:,.1f}".format)
math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:,.1f}".format)
math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:,.1f}".format)
math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:,.1f}".format)

# Remove the index name.
math_scores_by_grade.index.name = None
# Display the data frame.
math_scores_by_grade.head()
math_scores_by_grade.head()

                       9th  10th  11th  12th
Bailey High School    77.1  77.0  77.5  76.5
Cabrera High School   83.1  83.2  82.8  83.3
Figueroa High School  76.4  76.5  76.9  77.2
Ford High School      77.4  77.7  76.9  76.2
Griffin High School   82.0  84.2  83.8  83.4

In [149]:
# Combine each grade level Series for average reading scores by school into a single DataFrame.
reading_scores_by_grade = pd.DataFrame({
              "9th": freshmen_reading_scores,
              "10th": sophomores_reading_scores,
              "11th": juniors_reading_scores,
              "12th": seniors_reading_scores})

#Format each grade column.
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)
reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}".format)
reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}".format)
reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}".format)

# Remove the index name.
reading_scores_by_grade.index.name = None
# Display the data frame.
reading_scores_by_grade.head()
reading_scores_by_grade.head()

                       9th  10th  11th  12th
Bailey High School    81.3  80.9  80.9  80.9
Cabrera High School   83.7  84.3  83.8  84.3
Figueroa High School  81.2  81.4  80.6  81.4
Ford High School      80.6  81.3  80.4  80.7
Griffin High School   83.4  83.7  84.3  84.0

In [150]:
# Establish the spending bins and group names.
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

In [151]:
# Categorize spending based on the bins.
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)
#per_school_summary_df

In [152]:
# per_school_summary_df.dtypes

In [153]:
# Calculate averages for the desired columns.
spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]
#per_school_summary_df

In [154]:
# Assemble into DataFrame.
spending_summary_df = pd.DataFrame({
    "Average Math Score" : spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending})

# Format the columns
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)
spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)
spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)
spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)
spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.5,83.9,93,97,90
$585-629,81.9,83.2,87,93,81
$630-644,78.5,81.6,73,84,63
$645-675,77.0,81.0,66,81,54

In [155]:
#spending_summary_df.dtypes

In [156]:
# Establish bins for school size and cut per_school_counts into the size ranges.
student_size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
pd.cut(per_school_counts, student_size_bins)

Bailey High School       (2000, 5000]
Johnson High School      (2000, 5000]
Hernandez High School    (2000, 5000]
Rodriguez High School    (2000, 5000]
Figueroa High School     (2000, 5000]
Huang High School        (2000, 5000]
Ford High School         (2000, 5000]
Wilson High School       (2000, 5000]
Cabrera High School      (1000, 2000]
Wright High School       (1000, 2000]
Shelton High School      (1000, 2000]
Thomas High School       (1000, 2000]
Griffin High School      (1000, 2000]
Pena High School            (0, 1000]
Holden High School          (0, 1000]
Name: school_name, dtype: category
Categories (3, interval[int64, right]): [(0, 1000] < (1000, 2000] < (2000, 5000]]

In [157]:
# Categorize spending based on the bins.
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], student_size_bins, labels=group_names)

#per_school_summary_df.head()

In [158]:
# Calculate averages for the desired columns.
size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]
size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]
size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]
overall_passing_size = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]
#per_school_summary_df

In [159]:
# Assemble into DataFrame.
size_summary_df = pd.DataFrame({
    "Average Math Score" : size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": overall_passing_size})

size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)
size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)
size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)
size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)
size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)

size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.8,83.9,94,96,90
Medium (1000-2000),83.4,83.9,94,97,91
Large (2000-5000),77.7,81.3,70,83,58

In [160]:
# Calculate averages for the desired columns for school type.
type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]
type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]
type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]
overall_passing_type = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]
#per_school_summary_df

In [161]:
# Assemble into DataFrame.
type_summary_df = pd.DataFrame({
    "Average Math Score" : type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Math": type_passing_math,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": overall_passing_type})

# Format the columns
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)
type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)
type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)
type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)
type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)

type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.5,83.9,94,97,90
District,77.0,81.0,67,81,54